// Fonts
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.full-screen {
    width: 100vw;
}

.h-12 {
    height: 12rem;
}

.text-h1-header {
    font-family: 'Sedgwick Ave', cursive;
    font-weight: 400;
    font-size: 80px;
}