@import '../../variables.scss';

.defaultInput {
    width: 100%;
    max-width: 560px;
    height: 155px;

    display: flex;
    flex-direction: column;

    & label {
        width: 100%;
        height: 60px;
        font-weight: 500;
        font-size: 30px;
        line-height: 35px;
        font-family: 'Roboto';
        color: black;
    }

    & input {
        height: 95px;
        padding: 0 20px;
        font-weight: 500;
        font-size: 30px;
        line-height: 35px;
        font-family: 'Roboto';
        color: rgba(0, 0, 0, 0.8);
        outline: none;
        border: none;

        &:disabled {
            background: $disabled;
        }
    }
}