@import '../../variables.scss';

[hasImg] {
	background: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}

[main] {
	background: #a83a2cb2;
	border: none;
	outline: none;
	cursor: pointer;
	border-radius: 20px;
	font-size: 30px;
	font-family: 'Roboto';
	font-weight: 400;
	width: 200px;
	height: 100px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}

[variant] {
	background: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	border-radius: 20px;
	font-size: 30px;
	font-family: 'Roboto';
	font-weight: 400;
	width: 200px;
	height: 100px;
	color: #a83a2cb2;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}
